.container {
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

img {
    display: block;
    border: 2px solid red;
    margin: 15em auto 0 auto;
}

figure{
    border: 2px solid;
    width: 100%;
    margin: 0 auto; 
}

.search-button {
    display: block;
    margin: 2em auto 0 auto;
    border-radius: 25px;
    border: 1px solid rgb(206, 205, 205);
    height: 2.8em;
    width: 40em;
}

.search-button:hover {
    box-shadow: 1px 1px rgb(199, 199, 199);
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.left {
    float: left;
    margin: 1em 0.5em 0 1em;
}

.right {
    float: right;
    margin: 1em 0.5em 0 1em;
}
